/* ProseMirror specific styles from official Milkdown website */

.ProseMirror:focus-visible {
  outline: none;
}

.ProseMirror-selectednode {
  outline: none;
  outline: 2px solid hsl(var(--primary));
  outline-offset: 2px;
}

.ProseMirror {
  span[data-type="html"] {
    position: relative;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    background-color: hsl(var(--muted));
    padding: 0.25rem;
    font-family: sans-serif;
  }

  li::after {
    all: unset !important;
  }
}

.ProseMirror p > img:not(.ProseMirror-separator) {
  width: 100%;
}
